
header {
    text-align: center;
    padding: 20px;
}
section{

    display: inline-block;
    text-align: center;
    width: 100%;
}


i{
    font-size: 25px;
}
article {
    font-family: georgia, serif;
    display: inline-block;
    width: 25%;
    float: left;
    padding-top: 50px;
    border-right: dotted ;
    border-bottom: 0;
    height: 200px;

 }
#write{
    border: 0;
}



a{
    text-decoration: none;
    color: #369685;
}
