


body{
    text-decoration: none;

}

ul{
    margin-top: 400px;
    list-style-type: none;
    text-decoration: none;
    margin-left:75px;

}

li {

    padding-right: 2px;
    display: inline;
    float: left;

}

