/*footer*/
body{
    margin: 0;
    padding: 0;
    font: 15px;

}

#foot {
    background-color: #fff;
    margin: 0;
    overflow: hidden;
    z-index: 10000;
    text-align: center;

}
#foot.list {
    margin: 0;
    padding: 0;
    display: inline-block;


}
nav ul li {
    display: inline-block;
    list-style-type: none;
}
nav > ul > li > a {
     color: #7F7F7F;
     background-color:#fff;
     display: block;
     line-height: 2em;
     padding: 10px 5px 10px 5px;
     text-decoration: none;
 }

.headerDivider {
    border-right:1px solid #16222c;
    height:10px;
    display: inline-block;

}