body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    background-repeat:no-repeat;

}

ul{
    font-style: italic;

}


#hammerhead {
    width:504px;
    height:100px;
}