body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    background-repeat:no-repeat;

}

ul{
    font-style: italic;

}


#hammerhead {
    width:1839px;
    height:107px;
}

#apple {
    width:1839px;
    height:107px;
}
#mailchimp {
    width:404px;
    height:228px;
}

#milk {
    width:304px;
    height:228px;
}
#evermine{
    width:404px;
    height:228px;
}
