body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: left;
    background-color: #F39D29;
    background-repeat:no-repeat;

}

ul{
    font-style: italic;

}


#hammerhead {
    width:1439px;
    height:70px;
}

#apple {
    width:1439px;
    height:207px;
}
#mailchimp {
    width:444px;
    height:228px;
}

#milk {
    width:304px;
    height:228px;
}
#evermine{
    width:504px;
    height:228px;
}
#hubspot {
    width:504px;
    height:228px;
}

#gilt {
    width:224px;
    height:304px;
}
